[user]
  name = kamome35
  email = 42742556+kamome35@users.noreply.github.com

[core]
	editor = code --wait

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = vscode

[mergetool "vscode"]
        cmd = code --wait \"$MERGED\"
        trustExitCode = false

[push]
	default = simple

[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"%h %ad [%an]%Cgreen%d%Creset %s\" --all --date=short
