[user]
  name = kamome35
  email = 42742556+kamome35@users.noreply.github.com

[core]
  editor = code --wait

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[merge]
  tool = vscode

[mergetool "vscode"]
  cmd = code --wait \"$MERGED\"
  trustExitCode = false

[push]
  default = simple

[alias]
  # graph = log --graph --date-order -C -M --pretty=format:'%Creset%C(yellow)%h%Creset %C(green)%cn%Creset %C(cyan)%d%Creset %s %C(green)%ad %cr%Creset' --all --date=format:'%Y-%m-%d %H:%M'
  graph = log --graph --date-order -C -M --pretty=format:'%C(cyan reverse)%d%Creset%C(yellow reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%s%n%n%w(80,2,2)%b' --all --date=format:'%Y-%m-%d %H:%M'
